In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv("Boston.csv")

In [3]:
df.head()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [4]:
x = pd.DataFrame(df.iloc[:,:-1])
y = pd.DataFrame(df.iloc[:, -1])

In [5]:
x

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,502,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67
502,503,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08
503,504,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64
504,505,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48
505,506,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88

In [6]:
y

     medv
0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
..    ...
501  22.4
502  20.6
503  23.9
504  22.0
505  11.9

[506 rows x 1 columns]

# Divide the data into train and test sets

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=5)

In [8]:
print(x_train.shape)

(404, 14)

In [9]:
print(x_test.shape)

(102, 14)

In [10]:
print(y_train.shape)

(404, 1)

In [11]:
print(y_test.shape)

(102, 1)

# train the Algorithm

In [12]:
from sklearn.linear_model import LinearRegression 
regressor = LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression()

In [13]:
y_pred = regressor.predict(x_test)
y_pred = pd.DataFrame(y_pred, columns=['predicted'])
y_pred

     predicted
0    37.496449
1    32.022376
2    27.286378
3     5.728329
4    34.790093
..         ...
97   21.257770
98   22.246904
99   13.362985
100  23.773598
101  20.976724

[102 rows x 1 columns]

In [14]:
y_test

     medv
226  37.6
292  27.9
90   22.6
373  13.8
273  35.2
..    ...
349  26.6
212  22.4
156  13.1
480  23.0
248  24.5

[102 rows x 1 columns]

# Evaluate the algorithm

In [15]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [16]:
r2 = r2_score(y_test,y_pred)
print('r2_score',r2)

r2_score 0.7295300033236571

In [17]:
print('MAE',mean_absolute_error(y_test,y_pred))

MAE 3.2383003215770825

In [18]:
print('MSE',mean_squared_error(y_test,y_pred))

MSE 21.17614240824208

In [19]:
from math import sqrt as sqrt
print('RMSE',sqrt(mean_squared_error(y_test,y_pred)))

RMSE 4.601754275082719

# Repeated steps

In [20]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
print('MAE' , mean_absolute_error(y_test,y_pred))

MAE 3.2383003215770825

In [21]:
print('MSE',mean_squared_error(y_test,y_pred))

MSE 21.17614240824208

In [22]:
print('r2 value' , r2_score(y_test,y_pred))

r2 value 0.7295300033236571

In [23]:
from math import sqrt as sqrt 
print('RMSE',sqrt(mean_squared_error(y_test,y_pred)))

RMSE 4.601754275082719